{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>
  <ul class="article-index">
    {% for item in index %}
      <li class="item"><a href="{{ item.link_url }}">{{ item.title }}</a></li>
      {% if item.children %}
        <ul class="children">
          {% for child in item.children %}
            <li class="item"><a href="{{ child.link_url }}">{{ child.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </ul>
</div>
