{% set classes = [
    'article-table-of-contents',
] %}
<div{{ attributes.addClass(classes) }}>
  <ul class="article-toc">
    {% for item in toc %}
      <li class="item"><a href="{{ item.link_url }}">{{ item.title }}</a></li>
      {% if item.children %}
        <ul class="children">
          {% for child in item.children %}
            <li class="item"><a href="{{ child.link_url }}">{{ child.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </ul>
</div>
